footer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
  }
  .redesFooter {
    gap: 10rem;
    @extend %flex
  }
  .logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .derechos {
  display: flex;
  justify-content: center;
  align-items: center;
}