header {
    border: 3px solid brown;
    padding: 10px;
    background-color: blanchedalmond;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;

        .logoHeader {
          width: 30%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: left;
              -ms-flex-pack: left;
                  justify-content: left;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }
        .nav {
         width: 70%;
         padding: 0;

            .ulNav {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: distribute;
                  justify-content: space-around;
              width: 100%;
            }
         }          
}

