.mapa {
  @extend %flex
  }
  .imagenEquipo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .descripcionEquipo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  